

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.tl,
.br,
.bl,
.tr {
	position: absolute;
	margin: 20px;
}

.tl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 900;
}

.bl {
	line-height: 1.5em;
}

@media (max-width:996px) {
	.bl,
	.br,
	.tr {
		position: static;
	}
	.container {
		height: auto;
	}
	section div {
		width: 50%;
	}
	.br {
		display: none;
	}
}

@media (max-width:768px) {
	.footer {
		display: block;
		text-align: center;
		padding: 1em;
	}
	section div {
		width: 100%;
	}
}

@media (min-width:769px) {
	.footer {
		display: flex;
	}
}

@media (min-width:996px) {
	.bl {
		width: 20%;
	}
	.container {
		height: 100vh;
	}
	section div {
		width: 25%;
	}
}

.tl {
	top: 0;
	left: 0;
}

.tr {
	top: 0;
	right: 0;
}

.br {
	bottom: 0;
	right: 0;
}

.bl {
	bottom: 0;
	left: 0;
}

.bl a {
	text-decoration: underline;
}

.container {
	/* height: 100vh; */
	overflow: hidden;
	transition: background 1s;
	background: #00c1b5;
}

section {
	height: 100vh;
	flex-direction: column-reverse;
	display: flex;
	justify-content: center;
	align-items: center;
}

section div img {
	width: 100%;
}

section div {
	text-align: center;
}

ul {
	list-style-type: none;
}

ul li a {
	text-decoration: none;
	color: black;
}

.active {
	font-weight: bold;
}

.footer {
	align-items: flex-end;
	justify-content: space-between;
}

