select {
  border: none;
  background: #eee;
  padding: 0.3rem 3rem 0.3rem 0.3rem;
  appearance: none;
}
.language,
.location {
  position: relative;
}
.arrow {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  top: 35%;
  border-top: 6px solid black;
  border-bottom: 6px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
